<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">coders_blog</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/home" routerLink="home">Home</a></li>
      <li><a href="/news" routerLink="news">News</a></li>
      <li><a href="/articles" routerLink="home">Articles</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    

    <ul id="nav-mobile" class="sidenav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <img class="responsive-img" src="assets/images/c.jpg">
    
    
    <!-- <br><br>
    <h1 class="header center orange-text">Young programmers passionate about clean code and smart solutions.</h1>
    <div class="row center">
      <h5 class="header col s12 light">Do you want to start coding, but don´t khow how? This website is exactly for you!</h5>
    </div>
    <div class="row center">
      <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
    </div>
    <br><br> -->

  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <router-outlet></router-outlet>   
      

      

      
    </div>

  </div>
  <br><br>
</div>

<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Our team</h5>
        <p class="grey-text text-lighten-4">We are a team of beginning developers willing to help people who want to start programming. 
        We love clean code, smart solutions and new challenges. If you want to join our team or support us, do not hesitate to reach out.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect with</h5>
        <ul>
          <li><a class="white-text" href="#!">Jakub</a></li>
          <li><a class="white-text" href="#!">Michal</a></li>
          
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="orange-text text-lighten-3" >Jakub Brambor&Michal Hanušniak</a>
    </div>
  </div>
</footer>